In [1]:
import csv
import pandas as pd
from random import sample
df=pd.read_csv('train.csv')

In [2]:
#simple random sampling
no_of_elements=10
random_index=sample(range(df.shape[0]),no_of_elements)
print(random_index)
print(df.iloc[random_index])

[230, 511, 72, 482, 336, 525, 512, 493, 250, 32]
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
230  LP001765    Male     Yes          1      Graduate            No
511  LP002640    Male     Yes          1      Graduate            No
72   LP001248    Male      No          0      Graduate            No
482  LP002537    Male     Yes          0      Graduate            No
336  LP002110    Male     Yes          1      Graduate           NaN
525  LP002699    Male     Yes          2      Graduate           Yes
512  LP002643    Male     Yes          2      Graduate            No
493  LP002582  Female      No          0  Not Graduate           Yes
250  LP001835    Male     Yes          0  Not Graduate            No
32   LP001097    Male      No          1      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
230             2491             2054.0       104.0             360.0
511             6065             2004.0       250.0             360.0
72              3500                0.0        81.0             300.0
482             2083             3150.0       128.0             360.0
336             5250              688.0       160.0             360.0
525            17500                0.0       400.0             360.0
512             3283             2035.0       148.0             360.0
493            17263                0.0       225.0             360.0
250             1668             3890.0       201.0             360.0
32              4692                0.0       106.0             360.0

     Credit_History Property_Area Loan_Status
230             1.0     Semiurban           Y
511             1.0     Semiurban           Y
72              1.0     Semiurban           Y
482             1.0     Semiurban           Y
336             1.0         Rural           Y
525             1.0         Rural           Y
512             1.0         Urban           Y
493             1.0     Semiurban           Y
250             0.0     Semiurban           N
32              1.0         Rural           N

In [3]:
#systematic sampling
Kth=100
index=[i for i in range(df.shape[0]) if i%Kth==0]
print(df.iloc[index])

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
100  LP001345    Male     Yes          2  Not Graduate            No
200  LP001674    Male     Yes          1  Not Graduate            No
300  LP001964    Male     Yes          0  Not Graduate            No
400  LP002288    Male     Yes          2  Not Graduate            No
500  LP002603  Female      No          0      Graduate            No
600  LP002949  Female      No         3+      Graduate           NaN

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
100             4288             3263.0       133.0             180.0
200             2600             2500.0        90.0             360.0
300             1800             2934.0        93.0             360.0
400             2889                0.0        45.0             180.0
500              645             3683.0       113.0             480.0
600              416            41667.0       350.0             180.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
100             1.0         Urban           Y
200             1.0     Semiurban           Y
300             0.0         Urban           N
400             0.0         Urban           N
500             1.0         Rural           Y
600             NaN         Urban           N

In [7]:
#stratified sampling
#stratas formed based on education
no_of_elements=4   #number of elements in each strata
unique=list(set(df['Education']))
print('stratas:',unique,'\n')
index_set=[sample(list(df.index[df['Education']==i]),no_of_elements) for i in unique]
index=[j for i in index_set for j in i]
print(df.iloc[index])

stratas: ['Graduate', 'Not Graduate']

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
364  LP002180    Male      No          0      Graduate           Yes
180  LP001633    Male     Yes          1      Graduate            No
456  LP002459    Male     Yes          0      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
315  LP002031    Male     Yes          1  Not Graduate            No
170  LP001581    Male     Yes          0  Not Graduate           NaN
400  LP002288    Male     Yes          2  Not Graduate            No
480  LP002534  Female      No          0  Not Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
364             6822                0.0       141.0             360.0
180             6400             7250.0       180.0             360.0
456             4301                0.0       118.0             360.0
2               3000                0.0        66.0             360.0
315             3399             1640.0       111.0             180.0
170             1820             1769.0        95.0             360.0
400             2889                0.0        45.0             180.0
480             4350                0.0       154.0             360.0

     Credit_History Property_Area Loan_Status
364             1.0         Rural           Y
180             0.0         Urban           N
456             1.0         Urban           Y
2               1.0         Urban           Y
315             1.0         Urban           Y
170             1.0         Rural           Y
400             0.0         Urban           N
480             1.0         Rural           Y

In [14]:
#cluster sampling
#clusters formed based on number of dependents
no_of_clusters=5
unique= list(set(df['Dependents']))
smp=sample(unique,no_of_clusters)
print("clusters:",smp,"selected out of :",unique,'\n')
index_set=[list(df.index[df['Dependents']==i]) for i in smp]
index=[j for i in index_set for j in i]
print(df.iloc[index])

clusters: ['0', '2', '3+', nan, '1'] selected out of : ['0', nan, '3+', '1', '2']

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
6    LP001013    Male     Yes          0  Not Graduate            No
..        ...     ...     ...        ...           ...           ...
584  LP002911    Male     Yes          1      Graduate            No
585  LP002912    Male     Yes          1      Graduate            No
604  LP002959  Female     Yes          1      Graduate            No
606  LP002961    Male     Yes          1      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
6               2333             1516.0        95.0             360.0
..               ...                ...         ...               ...
584             2787             1917.0       146.0             360.0
585             4283             3000.0       172.0              84.0
604            12000                0.0       496.0             360.0
606             3400             2500.0       173.0             360.0
611             8072              240.0       253.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
6               1.0         Urban           Y
..              ...           ...         ...
584             0.0         Rural           N
585             1.0         Rural           N
604             1.0     Semiurban           Y
606             1.0     Semiurban           Y
611             1.0         Urban           Y

[599 rows x 13 columns]